{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

    <form action="/" method="POST">
    {{ form.csrf_token }}
    {{ form.opts }} 

    <ul>
        {% for error in form.opts.errors %}
        <li style="color:red;">
            {{ error }}
        </li>

        {% endfor %}

    </ul>

    <input type="submit">
        
    </form>
    <p>RNG:</p> <br>
    {% for num in numbers %}
        <p>{{ num }}</p>
    {% endfor %}

<!-- 
<section>


    <div id="usage" class="content">
        <div id="tp_usage"></div>
        <p class="content_heading">Usage</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eum repudiandae cum adipisci tempore qui recusandae, odit vitae enim voluptate aut possimus culpa sapiente, quam autem fugit necessitatibus! Porro doloremque exercitationem reiciendis aliquam laboriosam illo veritatis voluptatum omnis commodi accusamus ex, cum deserunt quisquam, expedita dolorem quod asperiores, placeat temporibus.</p>

        <br>

        </div>
    </div>



    <form action="/" method="POST">
        <select name="operation" id="select_operation" name="select_operation">

            <option value="random_coin_toss" id="dingo">Random Coin Toss</option>
        
            <option value="random_integer">Random Integer between 2 numbers</option>
            <option value="random_float">Random Float between 2 numbers</option>

            <option value="random_n_digit_number">Random N Digit Number</option>
            <option value="random_float_0_to_1">Random Float from 0 to 1</option>
            <option value="random_n_digit_binary_number">Random N digit binary number</option>
        </select>

        
        <input type="submit" value="Select">
    </form>


    {% if numbers|length < 1 %}
    <h4>Do something!</h4>

    {% else %}
    
        {% for num in numbers %}
            <p>{{ num }}</p>
        {% endfor %}

    {% endif %}

</section>

     -->





{% endblock %}

<!-- <input type="text" name="select_operation" id="select_operation"> -->