{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

    <section>
        <div id="usage" class="content">
            <div id="tp_usage"></div>
            <p class="content_heading">Usage</p>

            <p>
                First select the type of random number you want to generate. <br>
        
                <table id="functionTable">
                    <tr>
                        <td>Coin Toss</td>
                        <td>Simulates a 'Quantum Coin Toss', and gives either Tails (0) or Heads (1)</td>
                    </tr>
                    <tr>
                        <td>Integer</td>
                        <td>Generates integers between the specified lower and upper limits</td>
                    </tr>
                    <tr>
                        <td>Float</td>
                        <td>Generates floating point numbers between the specified lower and upper limits</td>
                    </tr>
                    <tr>
                        <td>N Digit Integer</td>
                        <td> Generates integers with N digits</td>
                    </tr>
                    <tr>
                        <td>Fraction</td>
                        <td>Generates a float between 0 and 1</td>
                    </tr>
                    <tr>
                        <td>N Digit Binary</td>
                        <td>Sometimes you just want a binary string of N digits xD</td>
                    </tr>

                </table>
                
                <br>

                The parameter 'How Many' specifies the number of random numbers you want to produce in a single query. <br>
                The parameter 'Precision' specifies the number of digits after the decimal place during generation of floating point numbers. <br>
            </p>

            <br>

            <h4 id="chooseHeading">Choose the type of Random Number you want to generate</h4>

            <!-- Choose Operation -->
            <div class="two">
                
                <select name="operation" id="operation_select">
                    <option value="coin_toss">Coin Toss</option>
                    <option value="integer">Integer</option>
                    <option value="float">Float</option>
                    <option value="n_digit_int">N Digit Integer</option>
                    <option value="fraction">Fraction</option>
                    <option value="n_digit_binary">N Digit Binary</option>
                </select>
                <button onclick="getOperation()" id="chooseOperationButton">Choose</button>
                
            </div>

            <!-- Final Form to gather data about type of Random number, range, etc. -->
            <!-- Remove class three later and replace instances with formWrapper -->

            <br>
            

            <div class="three formWrapper"> 
                <!-- <br><br><br> -->
                <h2 id="enter-values-tag"></h2> 


                <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->

                <form action="#" id="formInteger" method="get" name="mainform" class="formClass"></form>

                <form action="#" id="formFloat" method="get" name="mainform" class="formClass"></form>

                <form action="#" id="formCoinToss" method="get" name="mainform" class="formClass"></form>
            
                <form action="#" id="formNDigitInt" method="get" name="mainform" class="formClass"></form>
                
                <form action="#" id="formFraction" method="get" name="mainform" class="formClass"></form>

                <form action="#" id="formNDigitBinary" method="get" name="mainform" class="formClass"></form>
            </div>
        </div>

        <br>
        <br>
        <br>

        <button id="clipboardCopy">Copy</button>
        <div class="content" id="usage_output">
            
        </div>

        <br>
        <br>
        <br>

    </section>

{% endblock %}