html,body {
    height:100%;
    margin:0;

    /* font-family:; Google Font */
    line-height: 180%;

    color: beige;

    background-color: #1f1d1d;
    
    text-align: center;

}

#home_icon {
    display: flex;
}

ion-icon {
    color: beige;
    font-size: 32px;
    position: relative;
    left: 1rem;
    top: 1rem;
}

#navbar {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: montserrat; /* Change this later */

    background: #0082e6;
    height: 80px;
    width: 100%;

}

#portfolio_link {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

}

#nav_ul {
    float: right;
    margin-right: 20px;

}


#nav_ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}

#nav_ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;

    padding: 7px 13px;
    border-radius: 3px;
}

#navbar_element:hover{
    background: #1b9bff;
    transition: 0.5s;
}

#checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* If screen width is smaller, but not small enough for dropdown */
@media ( max-width: 952px ) {
    label#check {
        font-size: 30px;
        padding-left: 50px;
    }

    #nav_ul li a {
        font-size: 16px;

    }


    
}

/* Change media queries values depending on final project  */
@media ( max-width: 858px ) {
    #checkbtn {
        display: block;

    }

    #nav_ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;

        top: 80px;
        left: 0;
        text-align: center;

    }

    #nav_ul li {
        display: block;

    }

    #nav_ul li a {
        font-size: 20px;

    }

    #navbar_element:hover {
        background: none;
        color: #0082e6;
        
    }


}







/* Old Navbar: */
#navbar2 {
    float: right;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    float:left; /* Shady part */
    border-right:1px solid #bbb;

}

#navbar_element2 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar_element2:hover:not(.active) {
    background-color: #111;
    float: left;
    border-right:1px solid #bbb;
}

/* Change this tag later */
/* .active {
    background-color: #4CAF50;
} */
/* li:last-child {
    border-right: none;
}
li {
    float: left;
    border-right:1px solid #bbb;
}
li:last-child {
    border-right: none;
} */
  





.img1 {
    background: url( ../fractal_bg.jpg);
    min-height: 100%;
}

section {
    /* padding: 0.5rem 0.5rem; 50px 80px */
}


#heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-shadow: 3px 3px #000000;
                            

    padding: 4rem;
    padding-top: 0;
    padding-bottom: 0;   
}

#main_heading {
    color:beige;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-size: 2.5em;
    margin-bottom: 0;
}

#sub_heading {
    color: beige;
    font-style: italic;
    font-size: 1.5rem;
}

.img2 {
    background: url( ../fractal-flame.jpg);
    min-height: 50%;

    background-position: center;
    background-size: cover;
    
}


#description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-shadow: 1px 1px #000000;
    margin: 5rem;     

    padding: 4rem;
    padding-top: 0;
    padding-bottom: 0;  

    /* background-color: rgba(121,115,92); */

    background: rgb(121,115,92);
    background: linear-gradient(90deg, rgba(121,115,92,1) 50%, rgba(0,0,0,1) 115%);


    color: beige;
    font-size: 1.5em;

    padding: 0.75rem;
    border: 2px;
    border-style:groove;
    border-color: goldenrod;
    border-color:khaki;
}


.img3 {
    background: url( ../fractal-blue.jpg);
    min-height: 50%;
}


.function_selection {
    position: relative;
    display: inline-block;
    margin-left: 5rem;
    color: beige;
}

.dropdown {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    /* Make the dropdown menu scrollable */
    height: 15rem;
    overflow: auto;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  



.dropdown-content button:hover {
    background-color: #ddd;

    
}

.function_selection:hover .dropdown-content {
    display: block;

 
}

.function_selection:hover .dropdown {
    background-color: #3e8e41;
}


.img1, .img2, .img3 {
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}