html,body {
    height:100%;
    margin:0;

    /* font-family:; Google Font */
    line-height: 180%;

    color: beige;

    background-color: #1f1d1d;
    
    /* text-align: center; */

}

#home_icon {
    display: flex;
}

ion-icon {
    color: beige;
    font-size: 32px;
    position: relative;
    left: 1rem;
    top: 1rem;
}

.img1 {
    /* golden quantum one (first) */
    background: url( ../fractal_bg.jpg); 
    
    /* Work on this later */
    background-position: -15rem -8rem;

    /* background: url(../abstract-quantum.jpg);
    background: url(../abstract-4902607_1280.jpg); */

    min-height: 100%;
}

#navbar {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: montserrat; 
    /* Change this later */

    overflow: hidden;
    position: fixed;
    top:0;
    z-index: 1;

    border-bottom: 1px solid beige;

    
    /* background: rgb(231,206,117);
    background: linear-gradient(90deg, rgba(231,206,117,1) 10%, rgba(0,0,0,1) 115%); */

    /* background: url(../fractal-blue.jpg);
    background-position: -50rem; */

    /* background: url(../space.jpeg);
    background: darkgray; */
    background: url(../fractal-flame.jpg);
    background-position: 0rem 20rem;

    height: 80px;
    width: 100%;
}




.portfolio_link {
    color: white;
    font-size: 1.2rem;
    line-height: 60px;
    /* padding-right:4rem; */
    font-weight: bold;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    margin:0.7rem;
    border:1px invisible;
    border-radius:3px;
    color: beige;
    text-shadow: 2px 1px black;
}

.portfolio_link:hover{
    /* background: lightblue; */
    transition: 0.5s;
    text-shadow: 0px 0px;
    /* color: gray; */
    background: lightcyan;
    color: black;
}



#nav_ul {
    float: right;
    /* margin-right: 20px; */
}


#nav_ul li {
    display: inline-block;
    line-height: 55px;
    margin: 0;
    
    
    
    
}

#nav_ul li a {
    color: beige;
    font-size: 17px;

    padding: 7px 13px;
    /* padding-top: 0; */
    border-radius: 3px;
    text-decoration: none;
}

#nav_ul a:hover{
    /* background: #1b9bff; */
    background: lightcyan;
    color: black;
    transition: 0.2s;
}

#checkbtn {
    font-size: 30px;
    color: beige;
    float: right;
    
    margin-right: 2rem;
    margin-top:0.8rem;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* If screen width is smaller, but not small enough for dropdown */
@media ( max-width: 952px ) {
    label#check {
        font-size: 30px;
        padding-left: 50px;
    }

    #nav_ul li a {
        font-size: 16px;

    }
}

/* Change media queries values depending on final project  */
@media ( max-width: 858px ) {
    #checkbtn {
        display: block;
    }

    #nav_ul {
        position: fixed;
        width: 100%;
        /* height: 100vh; */
        height: 18rem;
        background: #2c3e50;
        border: 1px solid beige;
        padding-left: 0rem;

        top: 60px;
        left: -115%;
        text-align: center;

        transition: all 0.5s;

    }

    #nav_ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    #nav_ul li a {
        font-size: 20px;

    }

    #nav_ul a:hover {
        background: none;
        color: #0082e6;
        
    }

    #check:checked ~ ul {
        left: 0;
    }

    .img1 {
        background: url( ../fractal_bg.jpg);
        min-height: 100%;
        background-position: -45rem;
    }


}

#heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* font-family: 'Tangerine', cursive; */
    /* background: url(../fourthHeadingDesign.png) no-repeat scroll center top transparent; */

    background-size: 56%;
    background-repeat: no-repeat;
    background-position: 16.5rem 8rem;

    text-shadow: 3px 3px #000000;
                            
    padding: 4rem;
    padding-top: 0;
    padding-bottom: 0;   
}

#main_heading {
    color:beige;
    /* font-weight: bold; */
    /* font-style: italic; */
    /* text-decoration: underline; */
    text-decoration-thickness: 1px;
    font-family: 'Dancing Script', cursive;
    font-size: 4.5em;
    margin-bottom: 0;
}

#sub_heading {
    color: beige;
    font-style: italic;
    font-size: 3rem;
    font-family: 'Tangerine', cursive;
}

.img2 {
    background: url( ../fractal-flame.jpg);
    min-height: 50%;

    background-position: center;
    background-size: cover;
    
}

.content {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    font-family: 'Quicksand', sans-serif;
    font-size:1.3rem;
    

}

.content_heading {
    font-family: 'Tangerine', cursive;
    font-size: 4rem;


}


/* Delete this later, not really needed */
#description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-shadow: 1px 1px #000000;
    margin: 5rem;     

    padding: 4rem;
    padding-top: 0;
    padding-bottom: 0;  

    /* background-color: rgba(121,115,92); */

    background: rgb(121,115,92);
    background: linear-gradient(90deg, rgba(121,115,92,1) 50%, rgba(0,0,0,1) 115%);


    color: beige;
    font-size: 1.5em;

    padding: 0.75rem;
    border: 2px;
    border-style:groove;
    border-color: goldenrod;
    border-color:khaki;
}


.img3 {
    background: url( ../fractal-blue.jpg);
    background-position: center;
    min-height: 50%;
}

.img6 {
    background: url( ../galaxy-infinity.jpg);
    background-position: center;
    min-height: 50%;

}


.img5 {
    background: url( ../milky-way.jpg);
    background-position: center bottom;
    min-height: 50%;

}

.img4 {
    /* background: url( ../mathematics-bg.jpg); */
    background: url( ../physics.jpg);
    background-position: center center;
    min-height: 50%;

}




#function_selection {
    position: relative;
    display: inline-block;
    margin-left: 5rem;
    color: beige;
}

.dropdown {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 160px; */
    min-width: 10rem;
    /* width: 200px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    /* Make the dropdown menu scrollable */
    height: 15rem;
    overflow: auto;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 9rem;
}
  



.dropdown-content button:hover {
    background-color: #ddd;

    
}

#function_selection:hover .dropdown-content {
    display: block; 
}

#function_selection:hover .dropdown {
    background-color: #3e8e41;
}


.img1, .img2, .img3, .img4, .img5, .img6 {
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}